

.background {
	background: #C9D7D6;
}

.event-circle {
	fill: #C61C6F;
}

.event-desc {
	font-family: sans-serif;
	font-size: 10px;
}

.event-detail-desc {
	font-family: sans-serif;
	font-size: 10px;
}


.tooltip {
	position: absolute;
	padding; 0 10px;
	background: white;
	opacity: 0;
}

